body {
    font-family: Arial, sans-serif;
    background-color: navajowhite;
    text-align: center;
    padding: 20px;
}
h1{
    color: black;
}
button{
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;

}
button:hover{
    background-color: brown;

}